@import "tailwindcss";

@font-face {
  font-family: 'Montserrat';
  src: url('./Fonts/Montserrat-VariableFont_wght.ttf');
  
}
@theme{
  --font-montserrat: 'Montserrat', sans-serif;
  --color-darkSpotify: #181616;
}